html {
  height: 120%;
  width: 100%;
}

body {
  background-color: #171717;
}

h1 {
  text-align: center;
  color: white;
  font-size: 35px;
}

h2 {
  color: lightsteelblue;
  font-size: 25px;
}

li {
  color: white;
  font-size: 20px;
}

img {
  width: 420px;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  color: white;
}